html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    margin: 30px;
}
.nav-item {
    margin: 20px;
    padding: 10px;
    font-weight: 700;
}

#btn-1 {
    background-color: #F6A5A4;
    border: solid 1px white;
    border-radius: 8px; 
}

#btn-2 {
    background-color: #3BFFAC;
    border: solid 1px white;
    border-radius: 8px; 
}

#btn-3 {
    background-color: #1C72AB;
    border: solid 1px white;
    border-radius: 8px; 
}

.card {
    text-align: justify;
    display: flex;
    width: 500px;
    padding: 50px;
    
}
aside {
    min-height: 600px;
}

section {
    background-image: url("../images/bg-landing-page.png");
    background-size: cover;
    min-height: 800px;
}

.video {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #1C72AB;
}