html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: 'Roboto', sans-serif;/*
    /*font-family: 'Open Sans', sans-serif;*/
    background-color: whitesmoke;
    scrollbar-width: none;
    scroll-behavior: smooth;
}


.fade-text {
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



body::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: #1C72AB;
    height: 65px;
}

nav img {
    width: auto;
    height: 65px;
    max-width: 80px;
    max-height: 80px;
}

.time-person > img {
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 80px;
}

article {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    height: 70vh;
    background: url('../assets/bg-landing-page-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#welcome-text {
    font-family: 'Exo', sans-serif;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

#welcome-text #small-text {
    padding: 10px;
    font-family: 'Exo', sans-serif;
    font-size: 1rem;
}

#sobre {
    height: 95vh;
    background: url('../assets/bg-landing-page-3.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* ****************************************** */
 /* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.3rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 20px 10px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}

.twitter span {
	background-color: #4099ff;
}
.linkedin span {
	background-color: #1293d2;
}
.youtube span {
	background-color: #FF0000;
}
.instagram span {
    background: linear-gradient(45DEG, #405DE6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-linkedin {
	color: #1293d2;
}
.icon-button .icon-youtube {
	color: #FF0000;
}

.icon-button .icon-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}


.icon-button:hover .icon-twitter,
.icon-button:hover .icon-instagram,
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-youtube {
	color: white;
}

/* ****************************************** */

#text-about {
    padding: 100px 50px;
    font-size: 14px;
    font-weight: 700;
    color: #1C72AB;
    line-height: 2rem;
}

#text-about > p {
    font-weight: 700;
}

#video {
    background-color: whitesmoke;
    height: 80vh;
    flex-direction: column;
    color: #1C72AB;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

#video p {
    margin-bottom: 50px;
}

#parceiros {
    height: 50vh;
    display: flex;
    flex-direction: column;
    
}

#parceiros p {
    color: #1C72AB;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 70px;
}

.partners-logo img {
    margin: 0px 10px;
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 100px;
}

#volunt {
    background: url('../assets/bg-landing-page-4.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 70vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.volunt-intern {
    padding: 10px;
    font-weight: 700;
    color: white;
    font-size: 1.4rem;
}

.volunt-intern p {
    margin-bottom: 30px;
}

.btns {
    font-size: 1.2rem;
    border: solid 1px transparent;
    background-color: rgb(13, 190, 93);
    border-radius: 6px;
    padding: 15px 10px;
    transition: 0.5s;
    color: white;
}

#time-explica {
    flex-direction: column;
    height: 60vh;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    /*
    background: #9796f0;
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    */
    background: url('../assets/bg-landing-page-5.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#time-explica p {
    padding-bottom: 50px;
}

.time-profile {
    display: flex;
    flex-direction: row;
    
}

.time-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time-description {
    font-size: 1rem;
    padding: 20px 10px;
    text-align: center;
    color: white;
    line-height: 1.5rem;
    font-weight: 700;
}

.time-description p {
    font-size: 0.8rem;
    font-weight: 400;
}

#socials {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 50vh;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1C72AB;
}

footer {
    text-align: center;
    padding: 0px;
    height: fit-content;
    color: black;
}

/* --------------- DESKTOP CSS -------------- */

@media (min-width:1100px) {
    .nav-wrapper > a {
        margin-left: 50px;
    }

/* Wrapper */
.icon-button {
	background-color: white;
	border-radius: 3.6rem;
	cursor: pointer;
	display: inline-block;
	font-size: 2.0rem;
	height: 3.6rem;
	line-height: 3.6rem;
	margin: 0 20px;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	width: 3.6rem;
}

/* Circle */
.icon-button span {
	border-radius: 0;
	display: block;
	height: 0;
	left: 50%;
	margin: 0;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 0;
}
.icon-button:hover span {
	width: 3.6rem;
	height: 3.6rem;
	border-radius: 3.6rem;
	margin: -1.8rem;
}
.twitter span {
	background-color: #4099ff;
}
.linkedin span {
	background-color: #1293d2;
}
.youtube span {
	background-color: #FF0000;
}
.instagram span {
    background: linear-gradient(45DEG, #405DE6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

/* Icons */
.icon-button i {
	background: none;
	color: white;
	height: 3.6rem;
	left: 0;
	line-height: 3.6rem;
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
	     -o-transition: all 0.3s;
	        transition: all 0.3s;
	width: 3.6rem;
	z-index: 10;
}
.icon-button .icon-twitter {
	color: #4099ff;
}
.icon-button .icon-linkedin {
	color: #1293d2;
}
.icon-button .icon-youtube {
	color: #FF0000;
}

.icon-button .icon-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}


.icon-button:hover .icon-twitter,
.icon-button:hover .icon-instagram,
.icon-button:hover .icon-linkedin,
.icon-button:hover .icon-youtube {
	color: white;
}
 
    #welcome-text {
        color: white;
        font-family: 'Exo', sans-serif;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: 900;
        text-align: center;
    }

    #welcome-text #small-text {
        font-size: 1.8rem;
    }

    #video {
        font-size: 2.5rem;
    }
    
    #video iframe {
        width: 640px;
        height: 360px;
    }

    #text-about {
        font-size: 1.5rem;
        line-height: 3rem;
        padding: 200px;
    }

    .btns {
        font-size: 1.4rem;
        border: solid 1px transparent;
        background-color: rgb(13, 190, 93);
        border-radius: 6px;
        padding: 15px 30px;
        transition: 0.5s;
        color: white;
    }
    
    
    .btns:hover {
        background: rgb(3, 68, 32);
        transition: 0.5s;
        cursor: pointer;
    }

    .volunt-intern > p {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }

    ul > li > a {
        font-size: 16px;
        font-weight: 700;
        padding: 0px 30px;
    }

    #nav-mobile {
        margin-right: 50px;
    }

    #parceiros p {
        color: #1C72AB;
        font-size: 2.5rem;
    }

    .partners-logo img {
        margin: 0px 70px 60px;
        width: 150px;
        height: 100px;
        max-width: 250px;
        max-height: 200px;
    }
    

    #time-explica {
        font-size: 2.5rem;
    }

    #time-explica > p {
        padding: 70px 0px;
    }

    .time-description {
        font-size: 1.5rem;
    }

    .time-description p {
        font-size: 1rem;
    }

    .fab {
        font-size: 2.7rem;
    }

    .time-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #socials > p {
        margin-bottom: 50px;
        font-size: 2.5rem;
    }
    
    .time-description {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }

    
}