html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: #1C72AB;
    height: 66px;
}

nav img {
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 80px;
}

.time-person > img {
    width: auto;
    height: auto;
    max-width: 80px;
    max-height: 80px;
}

article {
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    height: 70vh;
    background: url('../assets/bg-landing-page-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#welcome-text {
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
}

#sobre {
    height: 95vh;
    /*
    background: url('../assets/bg-landing-page-2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    */
    background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




}

#text-about {
    padding: 100px 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 2rem;
}

#video {
    background-color: whitesmoke;
    height: 80vh;
}

#parceiros {
    height: 50vh;
    display: flex;
    flex-direction: column;
}

#parceiros p {
    color: #1C72AB;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.partners-logo img {
    margin: 0px 10px;
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 100px;
}

#volunt {
    /*
    background: #50C9C3;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);  /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #96DEDA, #50C9C3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
    */
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #4e54c8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: column;
    text-align: center;
}

.volunt-intern {
    padding: 10px;
    font-weight: 700;
    color: white;
    font-size: 1.4rem;
}

.volunt-intern p {
    padding-bottom: 30px;
}

.btns {
    font-size: 1.2rem;
    border: solid 1px transparent;
    background-color: rgb(13, 190, 93);
    border-radius: 6px;
    padding: 15px 10px;
    transition: 0.5s;
    color: white;
}

#time-explica {
    flex-direction: column;
    height: 100vh;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    /*
    background: #9796f0;
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
    background: linear-gradient(to right, #fbc7d4, #9796f0);
    */
    background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#time-explica p {
    padding-bottom: 50px;
}

.time-profile {
    display: flex;
    flex-direction: row;
    
}

.time-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time-description {
    font-size: 1rem;
    padding: 20px 10px;
    text-align: center;
    color: white;
    line-height: 1.5rem;
    font-weight: 700;
}

.time-description p {
    font-size: 0.9rem;
    font-weight: 400;
}

#socials {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 50vh;
    font-size: 1.5rem;
    font-weight: 700;
    color: #1C72AB;
}

.socials-box {
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.social-icon {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.fab {
    font-size: 3rem;
}

.fa-youtube {
    color: red;
    outline: none;
}

.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}

footer {
    text-align: center;
    color: white;
    height: 20px;
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (min-width:1100px) {
    .nav-wrapper > a {
        padding-left: 50px;
    }

    #welcome-text {
        color: white;
        font-size: 1.6rem;
        line-height: 3rem;
        font-weight: 700;
        text-align: center;
    }

    #video iframe {
        width: 640px;
        height: 360px;
    }

    #text-about > p {
        font-size: 1.5rem;
        line-height: 4rem;
        padding: 200px;
    }

    .btns {
        font-size: 1.4rem;
        border: solid 1px transparent;
        background-color: rgb(13, 190, 93);
        border-radius: 6px;
        padding: 15px 30px;
        transition: 0.5s;
        color: white;
    }
    
    
    .btns:hover {
        background: rgb(3, 68, 32);
        transition: 0.5s;
        cursor: pointer;
    }

    .volunt-intern > p {
        font-size: 2.5rem;
        padding-bottom: 100px;
    }

    ul > li > a {
        font-size: 16px;
        font-weight: 700;
        padding: 0px 50px;
    }

    #parceiros p {
        color: #1C72AB;
        font-size: 2.5rem;
    }

    .partners-logo img {
        margin: 0px 70px;
        width: 200px;
        height: 150px;
        max-width: 250px;
        max-height: 200px;
    }
    

    #time-explica {
        font-size: 2.5rem;
    }

    #time-explica > p {
        padding: 100px 0px;
    }

    .time-description {
        font-size: 1.5rem;
    }


    .fab {
        border: solid 1px white;
        border-radius: 50px;
        padding: 5px;
        font-size: 3rem;
    }

    .time-person {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #socials > p {
        font-size: 2.5rem;
    }
    
    .time-description {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }
}